body
{
	text-align: center;
	background: #55aa88;
}

p
{
	font-size: 20px;
	width: 100%;
	overflow-x: auto;
	border-bottom: 4px solid rgba(0,0,0,0.5);
	padding: 7vh 0;
	color: #fff;
	transition: all 0.3s;
}

p:hover
{
	cursor: pointer;
	color: #ccc;
	font-size: 22px;
}